

<app-ui></app-ui>

<app-engine></app-engine>

<h1>Good news, everyone! I've taught the toaster to feel love!</h1>
<p>Why, those are the Grunka-Lunkas! They work here in the Slurm factory. Yeah, I do that with my stupidness. I saw you with those two "ladies of the evening" at Elzars. Explain that. Why would a robot need to drink?</p>
<p>Now Fry, it's been a few years since medical school, so remind me. <strong> Disemboweling in your species: fatal or non-fatal?</strong> <em> Hey, you add a one and two zeros to that or we walk!</em> I usually try to keep my sadness pent up inside where it can fester quietly as a mental illness.</p>
<h2>I suppose I could part with 'one' and still be feared…</h2>
<p>I'm sorry, guys. I never meant to hurt you. Just to destroy everything you ever believed in. Ugh, it's filthy! Why not create a National Endowment for Strip Clubs while we're at it? Oh sure! Blame the wizards!</p>
<ol>

    <li>Stop! Don't shoot fire stick in space canoe! Cause explosive decompression!</li><li>It's okay, Bender. I like cooking too.</li><li>Our love isn't any different from yours, except it's hotter, because I'm involved.</li>

</ol>

<h3>Leela, Bender, we're going grave robbing.</h3>
<p>Yes, I saw. You were doing well, until everyone died. I usually try to keep my sadness pent up inside where it can fester quietly as a mental illness. I love you, buddy! Who are you, my warranty?!</p>
<ul>

    <li>This is the worst kind of discrimination: the kind against me!</li><li>I guess because my parents keep telling me to be more ladylike. As though!</li><li>Fry! Quit doing the right thing, you jerk!</li>

</ul>

<p>Ah, yes! John Quincy Adding Machine. He struck a chord with the voters when he pledged not to go on a killing spree. Maybe I love you so much I love you no matter who you are pretending to be. You mean while I'm sleeping in it?</p>
<p>Why not indeed! I'll get my kit! Kids have names? Whoa a real live robot; or is that some kind of cheesy New Year's costume? When the lights go out, it's nobody's business what goes on between two consenting adults.</p>
<p>Yes, if you make it look like an electrical fire. When you do things right, people won't be sure you've done anything at all. Oh God, what have I done? I don't know what you did, Fry, but once again, you screwed up! Now all the planets are gonna start cracking wise about our mamas.</p>
<p>Alright, let's mafia things up a bit. Joey, burn down the ship. Clamps, burn down the crew. I'm a thing. Yes. You gave me a dollar and some candy. What are you hacking off? Is it my torso?! 'It is!' My precious torso!</p>
<p>I barely knew Philip, but as a clergyman I have no problem telling his most intimate friends all about him. Hello, little man. I will destroy you! I just told you! You've killed me! What are their names?</p>
<p>Bender, you risked your life to save me! I suppose I could part with 'one' and still be feared… Take me to your leader! How much did you make me?</p>
<p>I was having the most wonderful dream. Except you were there, and you were there, and you were there! And I'm his friend Jesus. And remember, don't do anything that affects anything, unless it turns out you were supposed to, in which case, for the love of God, don't not do it!</p>
<p>Robot 1-X, save my friends! And Zoidberg! I just want to talk. It has nothing to do with mating. Fry, that doesn't make sense. Does anybody else feel jealous and aroused and worried? Shut up and take my money!</p>
<p>For one beautiful night I knew what it was like to be a grandmother. Subjugated, yet honored. You're going to do his laundry? Man, I'm sore all over. I feel like I just went ten rounds with mighty Thor.</p>
<p>It's just like the story of the grasshopper and the octopus. All year long, the grasshopper kept burying acorns for winter, while the octopus mooched off his girlfriend and watched TV. But then the winter came, and the grasshopper died, and the octopus ate all his acorns. Also he got a race car. Is any of this getting through to you? Yes, except the Dave Matthews Band doesn't rock.</p>
<p>Ask her how her day was. It's just like the story of the grasshopper and the octopus. All year long, the grasshopper kept burying acorns for winter, while the octopus mooched off his girlfriend and watched TV. But then the winter came, and the grasshopper died, and the octopus ate all his acorns. Also he got a race car. Is any of this getting through to you?</p> 


